<!doctype html>
<html>
  <head>
    <title>typho.net</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/styles.css">
    <script src="/header.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/jszip@3.10.1/dist/jszip.min.js"></script>
  </head>
  <body>
    <div class="padding"></div>
    <div class="padding"></div>

    <div class="content-section">
      <h1>Kotlin Stonecutter Template Generator</h1>
    </div>

    <div class="content-section">
      Coming Soon!
    </div>
  </body>
</html>